.header h2 {
    font-weight: 100;
    text-align: center;
}

.wrapper {
    display: block;
    width: 280px;
}

.text {
    padding-left: 0.5em;
    width: 325px;
    padding-top: 25px;
    padding-bottom: 40px;
}

.left {
    width: 325px;
    height: auto;
    background-color: #02ff56;
    padding: 0 0;
}

.left p {
    color: gray;
    font-size: 25px;
}


.left p:hover {
    color: black;
}


.right {
    width: auto;
    height: auto;
    padding: 0;
}

.right p {
    color: gray;
    font-family: "Gill Sans", sans-serif;
}

.right .inner_wrapper {
    width: auto;
}

@media screen and (max-width: 324px) {
    .right p {
        margin-left: -2em;
        margin-top: 10em;
        font-size: 15px;
    }
}


.right .text {
    font-size: 17px;
}

.webDesign {
    padding-bottom: 7px;
}

.tooltiptail {
    display: block;
    border-color: #02ff56 #ffffff #02ff56 #02ff56;
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
    margin-right: 2.9em;
    margin-top: 0.2em;
}

.tooltiptail_1, .tooltiptail_2 {
    display: block;
    border-color: #02ff56 #ffffff #02ff56 #02ff56;
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
    margin-right: 3.3em;
    margin-top: 0.2em;
}


.inner_wrapper {
    width: 325px;
    display: flex;
    height: 3em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -0.75em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 33px;
}

@media screen and (min-width: 325px) and (max-width: 768px) {
    .inner_wrapper {
        width: 325px;
    }

    .wrapper {
        width: 280px;
    }

    .text {
        width: 280px;
        margin-left: -2em;
    }

    .left {
        width: 280px;
    }

    .left p {
        font-size: 25px;
    }

    .right {
        width: 280px;
    }

    .right .text {
        padding-left: 1.5em;
    }

    .right p {
        margin-left: -1em;
        margin-top: 13em;
        font-size: 15px;
    }

    .tooltiptail_1, .tooltiptail_2 {
        display: none;
    }

    .header_main h2 {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .inner_wrapper {
        width: 769px;
    }

    .header h2 {
        font-size: 30px;
    }

    .wrapper {
        width: 650px;
        margin-left: 3em;
    }

    .text {
        width: 650px;
        padding-left: 1.5em;
    }

    .left {
        width: 650px;
    }

    .left p {
        font-size: 30px;
    }

    .right {
        width: 650px;
    }

    .right .inner_wrapper {
        width: 650px;
        margin-left: -1em;
        height: auto;
    }

    .right .text {
        padding-left: 0em;
    }

    .right p {
        margin-right: 2em;
        margin-top: -1em;
    }

    .tooltiptail {
        margin-right: -5.6em;
        border-width: 18px;
        display: none;
    }

    .tooltiptail_1 {
        margin-right: 11em;
        border-width: 18px;
    }

    .tooltiptail_2 {
        margin-right: 11em;
        border-width: 18px;
        display: none;
    }

    .header_main h2 {
        display: none;
    }
}

@media screen and (min-width: 1025px) {
    .inner_wrapper {
        width: 970px;
        height: 66px;
    }

    .wrapper {
        display: flex;
        width: 970px;
    }

    .text {
        width: 970px;
    }

    .left {
        width: 475px;
    }

    .right {
        width: 475px;
    }

    .right p {
        font-size: 14px;
        line-height: 21px;
    }

    .header h2 {
        display: none;
    }

    .header_main h2 {
        font-weight: 100;
        text-align: center;
        font-size: 35px;
        display: block;
        width: 970px;
        padding-left: 1.5em;
    }

    .tooltiptail_1 {
        display: none;
    }

    .tooltiptail_2 {
        display: block;
        margin-right: 34.5em;
    }

    .right .inner_wrapper {
        width: 475px;
        margin-left: 0.3em;
        padding-top: 28px;
    }
}
